.bcbs-blue {
  background: linear-gradient(to right,#0072a7 0%,#005172 100%);
}

.bcbs-yellow {
  background: linear-gradient(to right,#ffeab5 0%,#feda7f 100%);
}

.bcbs-blue--transparent {
  background: #1994d5;
  opacity: 0.8;
}

.bcbs-nav {
  margin: 0 auto;
}

.bcbs-gray {
  background: #e6e6e6;
}
